@font-face {
  font-family: 'Markazi Text';
  src:  url('./assets/fonts/MarkaziText-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  src:  url('./assets/fonts/Karla-Regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Markazi-Text';
  font-size: 16pt;
  max-width: 1920px;
  margin: auto;
}

h1 {
  font-size: 3.33rem;
}
h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
}

.button {
  background-color: #f4ce14;
  border: none;
  color: #495E57;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px!important;
  font-weight: bold;
  border-radius: 16px;
  z-index: 100;
  position: relative;
}

.button:hover:not(:disabled) {
  background-color: #ededed;
  cursor: pointer;
}

.button.dark {
  background-color: #495E57;
  color: #edefee;
}

.button.dark:hover {
  background-color: #ee9972;
}

.App-link {
  color: #61dafb;
}

.menu-links {
  display: flex;
}

.menu-links a {
  z-index: 100;
}

.center-text {
  text-align: center;
}


/* Header */
.App-Header {
  background-color: white;
  min-height: 130px;
}

.App-Header .menu-links a {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  color: #495E57;
  text-decoration: none
}
.App-Header  .menu-links a:hover  {
  color: #f4ce14;
}

.App-Header .menu-links a.active, .App-Header .mobile-menu a.active {
  color: #ee9972;
}

.App-Header .logo-img {
  padding: 45px 0 45px 2.5rem;
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 300px;
  cursor: pointer;
}


/* mobile nav */

/* browser resets */
.App-Mobile-Nav button.menuToggle {
  color: unset;
  letter-spacing: unset;
  word-spacing: unset;
  line-height: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  display: unset;
  text-align: unset;
  align-items: unset;
  cursor: unset;
  box-sizing: unset;
  background-color: unset;
  margin: unset;
  padding-block: unset;
  padding-inline: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
  padding: 8px 8px 4px;
}


.App-Mobile-Nav {
  display: none;
}

.menuToggle
{
  display: block;
  position: absolute;
  top: 45px;
  left: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  font-size: 18px;
}

.menuToggle a:hover
{
  color: #ee9972;
}

.menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.menuToggle.open > span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -3px);
  background: #232323;
}

.menuToggle.open > span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle.open > span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.mobile-menu
{
  position: absolute;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.mobile-menu li
{
  padding: 10px 0;
  font-size: 22px;
}

.menuToggle.open > ul
{
  transform: none;
}

/* main */

.App-Main {
  background-color: #fff;
  min-height:  60vh;
  font-size: calc(10px + 2vmin);
}

.App-Highlights {
  background-color: #FFFFEC;
  padding: 2rem;
}

.App-Testimonials {
  background-color: #ee9972;
  padding: 2rem;
}
.testimonial {
  display: flex;
    flex-direction: column;
    max-width: 200px;
}

.testimonial img {
  max-width: 200px;
  border-radius: 16px;

}

section > div {
  max-width: 1300px;
  margin: auto;
}

.specials-header {
  display: flex;
  max-width: 1215px;
}
.dishes, .reviews {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  gap: 2rem;
  flex-wrap: wrap;
}
.specials-header button {
  margin-left: auto;
  align-self: center;
}

.specials-header h2 {
  margin-right: auto;
  color: #495E57
}

.card {
  max-width: 300px;
  background-color: #495E57;
  border-radius: 16px;
}

.card-text-content {
  padding: 0 1.4rem 2rem;
  color: #fff;
}

.card-text-content p {
  min-height: 100px;
}


.card .card-text-content .content-header, .testimonial .testimonial-text-content .content-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card .card-text-content .content-header h5, .testimonial .testimonial-text-content .content-header h5 {
  margin-bottom: 0;
  margin-top: 1rem;
}

.card .card-text-content .content-header span, .testimonial .testimonial-text-content .content-header span {
  font-size: calc(12px + 0.8vmin);
}

.card .card-image-content img {
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 200px;
}

.cta, .about {
  color: #fff;
  gap: 1rem
}

.cta.dark, .about.dark {
  color: #495E57;
  gap: 1rem
}

.cta {
  background-color: #495E57;
}

.about {
  background-color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}
.hero h1 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.hero img {
  max-width: 100%;
  max-height: 350px;
  border-radius: 16px;
  margin-left: auto;
}
.hero .txt{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.hero button {
  align-self: baseline;
  margin-top: 2rem;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.call-to-action {
  padding: 2rem 2rem 0 0 ;
  /* font-size:  calc(8px + 1vmin); */
  font-size: 18pt;
  font-weight: 500;
}

/* footer */

.App-Footer {
  padding: 4rem 0;
  background-color: #edefee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.App-Footer .menu-links {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.App-Footer .menu-links a, .App-Footer .menu-links span {
  font-size: 16px;
  padding: 1px 10px;
  color: #495E57;
  text-decoration: none
}
.App-Footer .menu-links a:hover  {
  color: #f4ce14;
}

.App-Footer .menu-links a.active {
  color: #ee9972;
}


.App-Footer .logo-img {
  height: 120px;
  display: flex;
}


@media only screen and (max-width: 767px) {
  .App-Mobile-Nav {
    display: block;
  }
  .App-Nav, .hero img {
    display: none;
  }
  .hero .call-to-action {
    padding: 2rem 0 0 0;
  }

  .App-Header .logo-img {
    padding: 45px 2.5rem;
    justify-content: flex-end;
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .App-Mobile-Nav, .hero img {
    display: block;
  }
  .App-Mobile-Nav {
    display: none;
  }
  .App-Header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    gap: 5rem
  }

  .hero .txt {
    max-width:  500px;
  }

  .hero .call-to-action {
    max-width:  450px;
    padding: 2rem 2rem 0 0;
  }

  .hero div {
    flex-basis: 50%;
    flex-grow: 0;
  }
}


@media only screen and (max-width: 567px) {
  .menu-links.social {
    display: none;
  }
  .App-Footer {
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 1921px) {
  body {
    border: 1px solid #edefee;
    border-top: none;
    border-bottom: none;
  }
}

@media only screen and (min-width: 991px) {
  body {
    border: 1px solid #edefee;
    border-top: none;
    border-bottom: none;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0
}
.Field {
  padding: 5px 0;
  display: flex;
}
.Field label {
  padding: 15px;
  width: 200px;
  display: block;
}
input,
select,
fieldset span {
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #DADDEC;
  margin: 5px 0 10px;
  font-size: 1rem;
  display: block;
  z-index: 100;
}

button:disabled {
  background-color: darkgray;
}

section {
  background-color: #495E57;
  color: #fff
}

section.reservation .hero img {
  margin-left: 0;
  opacity: 30%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  position: absolute;
  top: 0;
  right: 0;
}

section.reservation .hero .txt, section.reservation  .hero div  {
  max-width: unset!important;
}

div.error {
  color:#ee9972;
  text-align: right;
}
